<!doctype html>
<html>
	<head>
		<title>Submit Questions</title>
	</head>
	<body>
		<form action="/admin/questions/submit/" method="post">
			<table>
			<tr><td><label>Question Number</label></td><td><input type="text" name="qno"></td></tr>
			<tr><td><label>Question</label></td><td><textarea name="ques"></textarea></td></tr>
			<tr><td><label>Question Image</label></td><td><input type="text" name="qimg"></td></tr>
			<tr><td><label>Option A</label></td><td><textarea name="opt1"></textarea></td></tr>
			<tr><td><label>Option B</label></td><td><textarea name="opt2"></textarea></td></tr>
			<tr><td><label>Option C</label></td><td><textarea name="opt3"></textarea></td></tr>
			<tr><td><label>Option D</label></td><td><textarea name="opt4"></textarea></td></tr>
			<tr><td><label>Answer</label></td><td><select name="ans">
														<option value="A">A</option>
														<option value="B">B</option>
														<option value="C">C</option>
														<option value="D">D</option>
													</select></td></tr>
			</table>
			<p><input type="submit" value="Continue &rarr;" /></p>
		</form>
	</body>
</html>
